In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

In [50]:
dfRS = pd.read_csv("PLL_RegSeason_Clean.csv")

dfPS = pd.read_csv("PLL_PostSeason_Clean.csv")

In [51]:
dfRS.head()

,full_name,team_code,number,position,games_played,points,goals,assists,1_point_attempts,1_point_percent,...,faceoff_attempts,faceoff_win_percent,first_name,last_name,1_point_goals,1_point_shots,2_point_goals,2_point_shots,faceoff_wins,faceoffs_taken
0,Adam Ghitelman,ARC,8,Goalie,9,0,0,0,0-0,0.0%,...,0-0,0.0%,Adam,Ghitelman,0,0,0,2,0,0
1,Austin Sims,ARC,18,Midfield,3,2,2,0,2-10,20.0%,...,0-0,0.0%,Austin,Sims,2,10,0,2,0,0
2,Ben McIntosh,ARC,90,Midfield,10,13,11,2,11-43,25.5%,...,0-0,0.0%,Ben,McIntosh,11,43,0,1,0,0
3,Christian Cuccinello,ARC,30,Attack,8,12,8,4,8-27,29.6%,...,0-0,0.0%,Christian,Cuccinello,8,27,0,1,0,0
4,Danny Eipp,ARC,3,Midfield,9,9,5,4,5-19,26.3%,...,0-0,0.0%,Danny,Eipp,5,19,0,0,0,0

In [ ]:
#['ARCHERS', 'ATLAS', 'CHAOS', 'CHROME', 'REDWOODS', 'WHIPSNAKES']

## Check shape

In [52]:
dfRS.shape

(184, 28)

In [88]:
dfPS.shape

(186, 28)

In [108]:
name_set_rs=[]
name_set_ps=[]
for i in dfRS.get_values():
    name_set_rs.append(i[0])
for i in dfPS.get_values():
    name_set_ps.append(i[0])
# name_set_rs.difference(name_set_ps)

def diff(first, second):
        second = set(second)
        return [item for item in first if item not in second]
diff(name_set_ps, name_set_rs)

['Brent Noseworthy', 'Austin Henningsen']

In [109]:
dfPS[dfPS.full_name == "Brent Noseworthy"]

,full_name,team_code,number,position,games_played,points,goals,assists,1_point_attempts,1_point_percent,...,faceoff_attempts,faceoff_win_percent,first_name,last_name,1_point_goals,1_point_shots,2_point_goals,2_point_shots,faceoff_wins,faceoffs_taken
58,Brent Noseworthy,ATL,19,A,1,1,1,0,1-2,50.0%,...,0-0,0.0%,Brent,Noseworthy,1,2,0,0,0,0

In [110]:
dfPS[dfPS.full_name == "Austin Henningsen"]

,full_name,team_code,number,position,games_played,points,goals,assists,1_point_attempts,1_point_percent,...,faceoff_attempts,faceoff_win_percent,first_name,last_name,1_point_goals,1_point_shots,2_point_goals,2_point_shots,faceoff_wins,faceoffs_taken
92,Austin Henningsen,CHA,8,FO,1,0,0,0,0-0,0.0%,...,1-2,50.0%,Austin,Henningsen,0,0,0,0,1,2

In [ ]:
df

In [87]:
# dfRS[dfRS.team_code == 'ATL']
# dfPS[dfPS.team_code == 'ATL']
# ATL = pd.concat([dfPS[dfPS.team_code == 'ATL'], dfRS[dfRS.team_code == 'ATL']]).loc[dfPS[dfPS.team_code == 'ATL'].index.difference(dfRS[dfRS.team_code == 'ATL'].index)]
# ATL
# new = dfRS[dfRS.team_code == 'ATL']
# ATL_RS  = new.append(ATL)
# ATL_RS

# CHA = pd.concat([dfPS[dfPS.team_code == 'CHA'], dfRS[dfRS.team_code == 'CHA']]).loc[dfPS[dfPS.team_code == 'CHA'].index.difference(dfRS[dfRS.team_code == 'CHA'].index)]
# CHA.iloc[2]
# CHA_RS = dfRS[dfRS.team_code == 'CHA']
# CHA_RS = CHA_RS.append(CHA.iloc[2])
# CHA_RS

In [19]:
dfPS.shape

(186, 28)

In [21]:
pivRS = pd.pivot_table(dfRS, index="team_code", aggfunc="count")
pivRS

,1_point_attempts,1_point_goals,1_point_percent,1_point_shots,2_point_attempts,2_point_goals,2_point_percent,2_point_shots,assists,caused_turnovers,...,goals,groundballs,last_name,number,points,position,shooting_percent,shots_on_goal,total_shots,turnovers
team_code,,,,,,,,,,,,,,,,,,,,,
ARC,29,29,29,29,29,29,29,29,29,29,...,29,29,29,29,29,29,29,29,29,29
ATL,29,29,29,29,29,29,29,29,29,29,...,29,29,29,29,29,29,29,29,29,29
CHA,32,32,32,32,32,32,32,32,32,32,...,32,32,32,32,32,32,32,32,32,32
CHR,34,34,34,34,34,34,34,34,34,34,...,34,34,34,34,34,34,34,34,34,34
RED,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
WHP,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30

In [8]:
pd.pivot_table(dfPS, index="team_code", aggfunc="count")

,1_point_attempts,1_point_goals,1_point_percent,1_point_shots,2_point_attempts,2_point_goals,2_point_percent,2_point_shots,assists,caused_turnovers,...,goals,groundballs,last_name,number,points,position,shooting_percent,shots_on_goal,total_shots,turnovers
team_code,,,,,,,,,,,,,,,,,,,,,
ARC,29,29,29,29,29,29,29,29,29,29,...,29,29,29,29,29,29,29,29,29,29
ATL,31,31,31,31,31,31,31,31,31,31,...,31,31,31,31,31,31,31,31,31,31
CHA,33,33,33,33,33,33,33,33,33,33,...,33,33,33,33,33,33,33,33,33,33
CHR,34,34,34,34,34,34,34,34,34,34,...,34,34,34,34,34,34,34,34,34,34
RED,29,29,29,29,29,29,29,29,29,29,...,29,29,29,29,29,29,29,29,29,29
WHP,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30

# TO BE CORRECTED 
the below needs to fixed with respect to the different shape in the tables

In [7]:
dfRS.columns

Index(['full_name', 'team_code', 'number', 'position', 'games_played',
       'points', 'goals', 'assists', '1_point_attempts', '1_point_percent',
       '2_point_attempts', '2_point_percent', 'total_shots',
       'shooting_percent', 'shots_on_goal', 'turnovers', 'caused_turnovers',
       'groundballs', 'faceoff_attempts', 'faceoff_win_percent', 'first_name',
       'last_name', '1_point_goals', '1_point_shots', '2_point_goals',
       '2_point_shots', 'faceoff_wins', 'faceoffs_taken'],
      dtype='object')

In [8]:
dfPS.columns

Index(['full_name', 'team_code', 'number', 'position', 'games_played',
       'points', 'goals', 'assists', '1_point_attempts', '1_point_percent',
       '2_point_attempts', '2_point_percent', 'total_shots',
       'shooting_percent', 'shots_on_goal', 'turnovers', 'caused_turnovers',
       'groundballs', 'faceoff_attempts', 'faceoff_win_percent', 'first_name',
       'last_name', '1_point_goals', '1_point_shots', '2_point_goals',
       '2_point_shots', 'faceoff_wins', 'faceoffs_taken'],
      dtype='object')

In [49]:
#@title derive season total for offensive stats
dfST = pd.concat([dfRS[['team_code','first_name','last_name','position','games_played',
       'points', 'goals', 'assists','1_point_goals','2_point_goals']], dfPS[['games_played',
       'points', 'goals', 'assists','1_point_goals','2_point_goals']]], axis=1)
dfST

,team_code,first_name,last_name,position,games_played,points,goals,assists,1_point_goals,2_point_goals,games_played,points,goals,assists,1_point_goals,2_point_goals
0,ARC,Adam,Ghitelman,Goalie,9.0,0.0,0.0,0.0,0.0,0.0,3,1,0,1,0,0
1,ARC,Austin,Sims,Midfield,3.0,2.0,2.0,0.0,2.0,0.0,1,0,0,0,0,0
2,ARC,Ben,McIntosh,Midfield,10.0,13.0,11.0,2.0,11.0,0.0,2,3,1,2,1,0
3,ARC,Christian,Cuccinello,Attack,8.0,12.0,8.0,4.0,8.0,0.0,3,5,4,1,4,0
4,ARC,Danny,Eipp,Midfield,9.0,9.0,5.0,4.0,5.0,0.0,3,6,3,3,3,0
5,ARC,Davey,Emala,Attack,1.0,0.0,0.0,0.0,0.0,0.0,1,1,1,0,1,0
6,ARC,Dominique,Alexander,Midfield,10.0,1.0,0.0,1.0,0.0,0.0,3,1,1,0,1,0
7,ARC,Drew,Adams,Goalie,7.0,0.0,0.0,0.0,0.0,0.0,3,0,0,0,0,0
8,ARC,Evan,Connell,Defense,3.0,0.0,0.0,0.0,0.0,0.0,2,0,0,0,0,0
9,ARC,Goran,Murray,Defense,3.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
10,ARC,Ian,MacKay,Midfield,4.0,3.0,2.0,1.0,2.0,0.0,1,0,0,0,0,0
11,ARC,Jackson,Place,Defense,10.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0
12,ARC,Kevin,Rice,Attack,6.0,7.0,3.0,4.0,3.0,0.0,0,0,0,0,0,0
13,ARC,Marcus,Holman,Attack,10.0,32.0,23.0,7.0,21.0,2.0,3,11,10,1,10,0
14,ARC,Mark,McNeill,Midfield,9.0,0.0,0.0,0.0,0.0,0.0,3,0,0,0,0,0
15,ARC,Matt,McMahon,Defense,10.0,0.0,0.0,0.0,0.0,0.0,3,0,0,0,0,0
16,ARC,Michael,Noone,Defense,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
17,ARC,Nick,Tintle,Midfield,3.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
18,ARC,Ryan,Ambler,Attack,9.0,10.0,3.0,7.0,3.0,0.0,3,10,6,4,6,0
19,ARC,Stephen,Kelly,Faceoff,10.0,7.0,3.0,4.0,3.0,0.0,3,3,1,2,1,0
20,ARC,Scott,Ratliff,Defense,10.0,4.0,2.0,2.0,2.0,0.0,3,7,3,3,2,1
21,ARC,Steve,Waldeck,Defense,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
22,ARC,Tom,Schreiber,Midfield,10.0,37.0,17.0,18.0,15.0,2.0,1,2,0,2,0,0
23,ARC,Tyler,Pfister,Midfield,8.0,2.0,0.0,2.0,0.0,0.0,3,0,0,0,0,0
24,ARC,Will,Manny,Attack,10.0,30.0,22.0,7.0,21.0,1.0,3,20,13,7,13,0
25,ARC,Mike,Simon,Defense,7.0,2.0,1.0,0.0,0.0,1.0,3,3,2,0,1,1
26,ARC,Curtis,Corley,Defense,6.0,0.0,0.0,0.0,0.0,0.0,3,0,0,0,0,0
27,ARC,Brendan,Fowler,Faceoff,5.0,0.0,0.0,0.0,0.0,0.0,3,1,0,1,0,0
28,ARC,Joey,Sankey,Attack,5.0,9.0,4.0,5.0,4.0,0.0,3,6,2,4,2,0
29,ATL,Andrew,Hodgson,Midfield,2.0,1.0,1.0,0.0,1.0,0.0,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,WHP,Bryce,Young,Defense,10.0,5.0,2.0,3.0,2.0,0.0,2,3,2,1,2,0
157,WHP,Charlie,Raffa,Faceoff,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0
158,WHP,Connor,Kelly,Midfield,8.0,18.0,10.0,8.0,10.0,0.0,2,0,0,0,0,0
159,WHP,Dan,Morris,Goalie,4.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
160,WHP,Drew,Snider,Midfield,10.0,9.0,6.0,3.0,6.0,0.0,2,4,2,2,2,0
161,WHP,Dylan,Maltz,Attack,3.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0
162,WHP,Dylan,Oâ€™Shaughnessy,Defense,0.0,0.0,0.0,0.0,0.0,0.0,2,4,4,0,4,0
163,WHP,Foster,Huggins,Defense,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
164,WHP,Jake,Bernhardt,Midfield,9.0,7.0,5.0,2.0,5.0,0.0,0,0,0,0,0,0
165,WHP,Jay,Carlson,Attack,4.0,5.0,3.0,2.0,3.0,0.0,0,0,0,0,0,0
166,WHP,Jeff,Reynolds,Midfield,1.0,0.0,0.0,0.0,0.0,0.0,2,1,1,0,1,0
167,WHP,Jeremy,Sieverts,Midfield,4.0,4.0,3.0,1.0,3.0,0.0,1,1,1,0,1,0
168,WHP,Joe,Locascio,Midfield,8.0,5.0,3.0,2.0,3.0,0.0,0,0,0,0,0,0
169,WHP,Joseph,Nardella,Faceoff,10.0,12.0,6.0,6.0,6.0,0.0,0,0,0,0,0,0
170,WHP,Kevin,Cooper,Midfield,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,0,2,0
171,WHP,Kyle,Bernlohr,Goalie,10.0,0.0,0.0,0.0,0.0,0.0,2,1,1,0,1,0
172,WHP,Matt,Rambo,Attack,10.0,42.0,19.0,23.0,19.0,0.0,0,0,0,0,0,0
173,WHP,Matthew,Dunn,Defense,10.0,0.0,0.0,0.0,0.0,0.0,2,0,0,0,0,0
174,WHP,Michael,Ehrhardt,Defense,9.0,13.0,5.0,5.0,2.0,3.0,2,7,4,3,4,0
175,WHP,Mike,Chanenchuk,Midfield,10.0,26.0,15.0,4.0,8.0,7.0,2,0,0,0,0,0
176,WHP,Ryan,Drenner,Attack,10.0,21.0,19.0,1.0,18.0,1.0,2,0,0,0,0,0
177,WHP,Tim,Muller,Defense,10.0,1.0,1.0,0.0,1.0,0.0,2,8,4,1,1,3
178,WHP,Tim,Rotanz,Midfield,4.0,0.0,0.0,0.0,0.0,0.0,2,0,0,0,0,0
179,WHP,Tyler,Warner,Midfield,10.0,1.0,1.0,0.0,1.0,0.0,2,0,0,0,0,0
180,WHP,Isaac,Paparo,Defense,5.0,1.0,1.0,0.0,1.0,0.0,0,0,0,0,0,0
181,WHP,John,Haus,Midfield,8.0,13.0,8.0,4.0,7.0,1.0,2,1,0,1,0,0
182,WHP,Joseph,McCallion,Midfield,2.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0
183,WHP,James,Barclay,Defense,4.0,0.0,0.0,0.0,0.0,0.0,1,4,3,1,3,0
184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,0,0,0

### Summing duplicates and removing them to give combined DF

In [50]:
dfST = dfST.groupby(lambda x:x, axis=1).sum()

### Reordering columns

In [51]:
cols=['team_code','first_name','last_name','position','games_played',
       'points', 'goals', 'assists','1_point_goals','2_point_goals']
dfST = dfST[cols]

In [60]:
#dfST = dfST.drop(index=[184,185])

In [82]:
dfST

,team_code,first_name,last_name,position,games_played,points,goals,assists,1_point_goals,2_point_goals
0,ARC,Adam,Ghitelman,Goalie,12.0,1.0,0.0,1.0,0.0,0.0
1,ARC,Austin,Sims,Midfield,4.0,2.0,2.0,0.0,2.0,0.0
2,ARC,Ben,McIntosh,Midfield,12.0,16.0,12.0,4.0,12.0,0.0
3,ARC,Christian,Cuccinello,Attack,11.0,17.0,12.0,5.0,12.0,0.0
4,ARC,Danny,Eipp,Midfield,12.0,15.0,8.0,7.0,8.0,0.0
5,ARC,Davey,Emala,Attack,2.0,1.0,1.0,0.0,1.0,0.0
6,ARC,Dominique,Alexander,Midfield,13.0,2.0,1.0,1.0,1.0,0.0
7,ARC,Drew,Adams,Goalie,10.0,0.0,0.0,0.0,0.0,0.0
8,ARC,Evan,Connell,Defense,5.0,0.0,0.0,0.0,0.0,0.0
9,ARC,Goran,Murray,Defense,3.0,0.0,0.0,0.0,0.0,0.0
10,ARC,Ian,MacKay,Midfield,5.0,3.0,2.0,1.0,2.0,0.0
11,ARC,Jackson,Place,Defense,11.0,0.0,0.0,0.0,0.0,0.0
12,ARC,Kevin,Rice,Attack,6.0,7.0,3.0,4.0,3.0,0.0
13,ARC,Marcus,Holman,Attack,13.0,43.0,33.0,8.0,31.0,2.0
14,ARC,Mark,McNeill,Midfield,12.0,0.0,0.0,0.0,0.0,0.0
15,ARC,Matt,McMahon,Defense,13.0,0.0,0.0,0.0,0.0,0.0
16,ARC,Michael,Noone,Defense,1.0,0.0,0.0,0.0,0.0,0.0
17,ARC,Nick,Tintle,Midfield,3.0,0.0,0.0,0.0,0.0,0.0
18,ARC,Ryan,Ambler,Attack,12.0,20.0,9.0,11.0,9.0,0.0
19,ARC,Stephen,Kelly,Faceoff,13.0,10.0,4.0,6.0,4.0,0.0
20,ARC,Scott,Ratliff,Defense,13.0,11.0,5.0,5.0,4.0,1.0
21,ARC,Steve,Waldeck,Defense,1.0,0.0,0.0,0.0,0.0,0.0
22,ARC,Tom,Schreiber,Midfield,11.0,39.0,17.0,20.0,15.0,2.0
23,ARC,Tyler,Pfister,Midfield,11.0,2.0,0.0,2.0,0.0,0.0
24,ARC,Will,Manny,Attack,13.0,50.0,35.0,14.0,34.0,1.0
25,ARC,Mike,Simon,Defense,10.0,5.0,3.0,0.0,1.0,2.0
26,ARC,Curtis,Corley,Defense,9.0,0.0,0.0,0.0,0.0,0.0
27,ARC,Brendan,Fowler,Faceoff,8.0,1.0,0.0,1.0,0.0,0.0
28,ARC,Joey,Sankey,Attack,8.0,15.0,6.0,9.0,6.0,0.0
29,ATL,Andrew,Hodgson,Midfield,3.0,2.0,2.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...
154,WHP,Ben,Reeves,Attack,10.0,18.0,11.0,7.0,11.0,0.0
155,WHP,Brett,Schmidt,Defense,5.0,0.0,0.0,0.0,0.0,0.0
156,WHP,Bryce,Young,Defense,12.0,8.0,4.0,4.0,4.0,0.0
157,WHP,Charlie,Raffa,Faceoff,1.0,0.0,0.0,0.0,0.0,0.0
158,WHP,Connor,Kelly,Midfield,10.0,18.0,10.0,8.0,10.0,0.0
159,WHP,Dan,Morris,Goalie,4.0,0.0,0.0,0.0,0.0,0.0
160,WHP,Drew,Snider,Midfield,12.0,13.0,8.0,5.0,8.0,0.0
161,WHP,Dylan,Maltz,Attack,4.0,0.0,0.0,0.0,0.0,0.0
162,WHP,Dylan,Oâ€™Shaughnessy,Defense,2.0,4.0,4.0,0.0,4.0,0.0
163,WHP,Foster,Huggins,Defense,0.0,0.0,0.0,0.0,0.0,0.0
164,WHP,Jake,Bernhardt,Midfield,9.0,7.0,5.0,2.0,5.0,0.0
165,WHP,Jay,Carlson,Attack,4.0,5.0,3.0,2.0,3.0,0.0
166,WHP,Jeff,Reynolds,Midfield,3.0,1.0,1.0,0.0,1.0,0.0
167,WHP,Jeremy,Sieverts,Midfield,5.0,5.0,4.0,1.0,4.0,0.0
168,WHP,Joe,Locascio,Midfield,8.0,5.0,3.0,2.0,3.0,0.0
169,WHP,Joseph,Nardella,Faceoff,10.0,12.0,6.0,6.0,6.0,0.0
170,WHP,Kevin,Cooper,Midfield,2.0,2.0,2.0,0.0,2.0,0.0
171,WHP,Kyle,Bernlohr,Goalie,12.0,1.0,1.0,0.0,1.0,0.0
172,WHP,Matt,Rambo,Attack,10.0,42.0,19.0,23.0,19.0,0.0
173,WHP,Matthew,Dunn,Defense,12.0,0.0,0.0,0.0,0.0,0.0
174,WHP,Michael,Ehrhardt,Defense,11.0,20.0,9.0,8.0,6.0,3.0
175,WHP,Mike,Chanenchuk,Midfield,12.0,26.0,15.0,4.0,8.0,7.0
176,WHP,Ryan,Drenner,Attack,12.0,21.0,19.0,1.0,18.0,1.0
177,WHP,Tim,Muller,Defense,12.0,9.0,5.0,1.0,2.0,3.0
178,WHP,Tim,Rotanz,Midfield,6.0,0.0,0.0,0.0,0.0,0.0
179,WHP,Tyler,Warner,Midfield,12.0,1.0,1.0,0.0,1.0,0.0
180,WHP,Isaac,Paparo,Defense,5.0,1.0,1.0,0.0,1.0,0.0
181,WHP,John,Haus,Midfield,10.0,14.0,8.0,5.0,7.0,1.0
182,WHP,Joseph,McCallion,Midfield,3.0,0.0,0.0,0.0,0.0,0.0
183,WHP,James,Barclay,Defense,5.0,4.0,3.0,1.0,3.0,0.0

In [72]:
dfSumm = pd.pivot_table(dfST, index="team_code", values=["1_point_goals","2_point_goals","assists","goals","points"], aggfunc="sum")
dfSumm

           1_point_goals  2_point_goals  assists  goals  points
team_code
ARC                145.0            8.0     99.0  153.0   260.0
ATL                126.0           11.0     85.0  137.0   233.0
CHA                121.0           12.0     76.0  133.0   221.0
CHR                128.0            8.0     67.0  136.0   211.0
RED                139.0            6.0     80.0  145.0   231.0
WHP                127.0           15.0     80.0  142.0   237.0

In [74]:
dfSumm["score"] = dfSumm["points"]-dfSumm["assists"]
dfSumm

           1_point_goals  2_point_goals  assists  goals  points  score
team_code
ARC                145.0            8.0     99.0  153.0   260.0  161.0
ATL                126.0           11.0     85.0  137.0   233.0  148.0
CHA                121.0           12.0     76.0  133.0   221.0  145.0
CHR                128.0            8.0     67.0  136.0   211.0  144.0
RED                139.0            6.0     80.0  145.0   231.0  151.0
WHP                127.0           15.0     80.0  142.0   237.0  157.0

In [76]:
dfSumm["score"] = dfSumm["1_point_goals"]+(2*dfSumm["2_point_goals"])
dfSumm

           1_point_goals  2_point_goals  assists  goals  points  score
team_code
ARC                145.0            8.0     99.0  153.0   260.0  161.0
ATL                126.0           11.0     85.0  137.0   233.0  148.0
CHA                121.0           12.0     76.0  133.0   221.0  145.0
CHR                128.0            8.0     67.0  136.0   211.0  144.0
RED                139.0            6.0     80.0  145.0   231.0  151.0
WHP                127.0           15.0     80.0  142.0   237.0  157.0

# Stat leaders exploration

In [89]:
dfST.sort_values(by="points", ascending=False).head(10)

,team_code,first_name,last_name,position,games_played,points,goals,assists,1_point_goals,2_point_goals
24,ARC,Will,Manny,Attack,13.0,50.0,35.0,14.0,34.0,1.0
13,ARC,Marcus,Holman,Attack,13.0,43.0,33.0,8.0,31.0,2.0
151,RED,Jules,Heningburg,Attack,13.0,43.0,27.0,16.0,27.0,0.0
172,WHP,Matt,Rambo,Attack,10.0,42.0,19.0,23.0,19.0,0.0
22,ARC,Tom,Schreiber,Midfield,11.0,39.0,17.0,20.0,15.0,2.0
104,CHR,Justin,Guterding,Attack,10.0,35.0,20.0,14.0,19.0,1.0
35,ATL,Eric,Law,Attack,12.0,34.0,23.0,11.0,23.0,0.0
64,CHA,Connor,Fields,Attack,12.0,33.0,22.0,11.0,22.0,0.0
102,CHR,Jordan,Wolf,Attack,10.0,32.0,16.0,16.0,16.0,0.0
34,ATL,Connor,Buczek,Midfield,11.0,31.0,22.0,4.0,17.0,5.0